<% include partials/header %>


<div class="ui center aligned basic segment">
    <h2 class="ui icon header raised segment">
        <i class="settings icon"></i>
        <div class="content">
            Features
            <div class="sub header">Manage features to be added into game</div>
        </div>
    </h2>
    
    <div class="ui piled segment">
        <h4 class="ui header">Suggested Features</h4>
            <h6>Clothing system</h6>
                <p>
                    A clothing crafting system - hoods, masks, torso, legs, feet, hands (starting point)
                </p>
            <h6>Weapon Crafting System</h6>
                <p>
                    Weapon crafting that allows players to create the sword, hilt, guard, and accesories (starting point)
                </p>
            <h6>Weather System</h6>
                <p>
                    Implement rain, snow, wind weather cycles, as well storm variants (starting point)
                </p>
        
    </div>
</div>


<% include partials/footer %>