<% include partials/header %>


<div class="ui center aligned huge header top attached">
    <h1>Home Page</h1>
</div>

<div class="ui piled segment">
    <h4 class="ui header">Game Premise</h4>
        <p>A game with a movement system similar to "AC: Origins" with sword and magic battles like in "BLEACH"</p>
</div>

<div id="features1" class="ui horizontal segment">
    <div id="column" class="ui piled segment six wide column">
        <h4 class="ui header">Confirmed features</h4>
            <p>N/A</p>
    </div>
    <div id="column" class="ui piled segment six wide column">
        <h4 class="ui header">Suggested features</h4>
            <ul>
                <li>Clothing System</li>
                <li>Weapon Crafting System</li>
                <li>Weather System</li>
                <li>Collectible Gem to gain power ups</li>
                <li>Parkour Movement</li>
                <li>Special Movement Styles</li>
            </ul>
    </div>
    <div id="column" class="ui piled segment four wide column">
        <h4 class="ui header">Total Number of Features</h4>
    </div>
</div>


<% include partials/footer %>