<% include ./partials/header %>

<h1>Sign up form</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
    
    
</form>

<li><a href="/register">Register</a></li>
<li><a href="/login">Login Page</a></li>
<li><a href="/logout">LogOut</a></li>

<% include ./partials/footer %>